.light {
    --theme-color: #A80000;
    --theme-page-background: #FFF;
    --theme-page-text: #111;
}

.dark {
    --theme-color: #0000A8;
    --theme-page-background: #111;
    --theme-page-text: #751c61;
}


.LightDark {
    height: 100vh;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    background-color: cadetblue;
    padding: 20px 10px 15px 20px;
    font-size: xx-large;
    font-weight: bold;

    background: var(--theme-page-background);
    color: var(--theme-page-text);
  }

h1{
    border-radius:40px;
    padding: 20px 10px 15px 20px;

  }

